<%- include("_header.ejs") %>
    <div class="contact-section">
        <h1>Contact</h1>
        <p><b>Email:</b> rich@gmail.com</p>
        <p><b>Phone:</b> +14087368809</p>
    </div>
<%- include("_footer.ejs") %>
